.cmp-uiButton{
	min-height  : 30px;
	min-width   : 60px;
	display     : table;
	user-select : none;
	cursor      : pointer;
	&_content{
		display : table-row;
		height  : 100%;
		&_text{
			height          : 100%;
			padding         : 0 10px 0 10px;
			display         : table-cell;
			vertical-align  : middle;
			text-align      : center;
			font-family     : $ButtonTypography.family;
			font-size       : $ButtonTypography.size;
			line-height     : $ButtonTypography.lineHeight;
		}
	}
}

.cmp-uiButton.p-typ_text{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView;
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_caption{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-caption;
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_title{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-title; 
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_body{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-body; 
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_heading{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-heading; 
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_subHeading{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-subHeading; 
		display: table-cell;
	}
}
.cmp-uiButton.p-typ_text.p-txtTyp_headline{
	.cmp-uiButton_content_text{ 
		@extends .cmp-uiTextView.p-headline; 
		display: table-cell;
	}
}

.cmp-uiButton.p-typ_fullsize{ width: 100%; }

.cmp-uiButton{
	&_content{
		&_text:before { 
			display: inline-block;
			margin-right: 10px; 
		}
		&_text:after  { 
			display: inline-block;
			margin-left: 10px; 
		}
	}
}

.cmp-uiButton{
	&_content{
		&_text:empty:before { margin-right: 0; }
		&_text:empty:after  { margin-left: 0; }
	}
}

// Button Groups
.cmp-btnInline{ display: inline-block; }
.cmp-btnGroup{ 
	display: inline-block; 
	&_item{ 
		display: inline-block; 
	}
}