// Typography
// Button font
$ButtonTypography ?= {
	size           : 14px,
	lineHeight     : 14px,
	letterSpacing  : 0.03em,
	family         : 'Roboto-Light',
	isize          : 14px,
	
	xsSZ           : 12px,
	xsLH           : 12px,
	xsFM           : 'Roboto-Light',
	xsLS           : 0.03em,
	xsISZ          : 13px,
	
	mdSZ           : 14px,
	mdLH           : 14px,
	mdFM           : 'Roboto-Light',
	mdLS           : 0.03em,
	mdISZ          : 16px,
	
	lgSZ           : 16px,
	lgLH           : 16px,
	lgFM           : 'Roboto-Light',
	lgLS           : 0.03em,	
	lgISZ          : 18px,
	
	xlSZ           : 16px,
	xlLH           : 16px,
	xlFM           : 'Roboto-Light',
	xlLS           : 0.03em,
	xlISZ          : 18px,
}

// Text font
$TextTypography ?= {
	size             : 14px,
	lineHeight       : 14px,
	letterSpacing    : 0.03em,
	family           : 'Roboto-Light',
	
	captionSZ        : 12px,	
	captionLH        : 12px,
	captionFM        : 'Roboto-Light',
	captionLS        : 0.03em,

	titleSZ          : 12px,	
	titleLH          : 12px,
	titleFM          : 'Roboto-Light',
	titleLS          : 0.03em,

	headingSZ        : 12px,	
	headingLH        : 12px,
	headingFM        : 'Roboto-Light',
	headingLS        : 0.03em,

	subHeadingSZ     : 12px,	
	subHeadingLH     : 12px,
	subHeadingFM     : 'Roboto-Light',
	subHeadingLS     : 0.03em,

	bodySZ           : 12px,	
	bodyLH           : 12px,
	bodyFM           : 'Roboto-Light',
	bodyLS           : 0.03em,

	headlineSZ       : 12px,	
	headlineLH       : 12px,
	headlineFM       : 'Roboto-Light',
	headlineLS       : 0.03em,

}