// Roboto
$RobotoFontPath = '../../roboto-stylus/fonts/';

// Material Design Icons
$MdiFontPath    = '../../mdi-styl/fonts/';
$MdiCssPrefix   = 'cmp-uiButton_content_text';
$MdiIconBeforePrefix  = 'uiIconL';
$MdiIconAfterPrefix   = 'uiIconR';

// Typography
$ButtonTypography ?= {
	size           : 14px,
	lineHeight     : 14px,
	letterSpacing  : 0.03em,
	family         : 'Roboto-Light',
	isize          : 14px,
	
	xsSZ           : 12px,
	xsLH           : 12px,
	xsFM           : 'Roboto-Light',
	xsLS           : 0.03em,
	xsISZ          : 13px,
	
	mdSZ           : 14px,
	mdLH           : 14px,
	mdFM           : 'Roboto-Light',
	mdLS           : 0.03em,
	mdISZ          : 16px,
	
	lgSZ           : 16px,
	lgLH           : 16px,
	lgFM           : 'Roboto-Light',
	lgLS           : 0.03em,	
	lgISZ          : 18px,
	
	xlSZ           : 16px,
	xlLH           : 16px,
	xlFM           : 'Roboto-Light',
	xlLS           : 0.03em,
	xlISZ          : 18px,
}

// Text font
$TextTypography ?= {
	size             : 14px,
	lineHeight       : 14px,
	letterSpacing    : 0.03em,
	family           : 'Roboto-Light',
	
	captionSZ        : 12px,	
	captionLH        : 12px,
	captionFM        : 'Roboto-Light',
	captionLS        : 0.03em,

	bodySZ           : 14px,
	bodyLH           : 21px,
	bodyFM           : 'Roboto-Light',
	bodyLS           : 0.05em,

	titleSZ          : 14px,
	titleLH          : 14px,
	titleFM          : 'Roboto-Regular',
	titleLS          : 0.02em,

	subHeadingSZ     : 18px,	
	subHeadingLH     : 28px,
	subHeadingFM     : 'Roboto-Regular',
	subHeadingLS     : 0.03em,

	headingSZ        : 24px,
	headingLH        : 40px,
	headingFM        : 'Roboto-Regular',
	headingLS        : 0.03em,

	headlineSZ       : 30px,	
	headlineLH       : 45px,
	headlineFM       : 'Roboto-Light',
	headlineLS       : 0.03em,

}