.cmp-uiDynIcon.p-typ_calendar {
	background      : white;
	border-radius   : 20%;
	text-align      : center;
	border          : 1px $UIKIT.IOSColor.iconBorder solid;
	
	.cmp-uiDynIcon_week:before {
		height          : 30%;
		color           : red;
		font-family     : $TextTypography.family;
	}
	
	.cmp-uiDynIcon_date:before {
		font-family     : $TextTypography.family;
	}

	.cmp-uiDynIcon_time:before {
		font-family     : $TextTypography.titleFM;
		color           : black;
	}

}